<nav>
  <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>Welcome, <%= current_user.email %></a></li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</li>
    </ul>
  </div>
</nav>

<h1>Welcome!</h1>
<div class="popup">
  <h3>let's get you set up!</h3>
  <%= link_to "I'm Ready", new_account_preference_path(current_account), :class => "waves-effect waves-light btn" %>
</div>
