<nav>
  <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user.admin == true %>
      <li><%= link_to "Admin Portal", cities_path %></li>
      <% end %>
      <li><p>Welcome, <%= current_user.email %><p></li>
      <li><%= link_to "Profile", account_preferences_path(current_account) %></li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </div>
</nav>
<div class="trip">
  <h3>Your Trip</h3>
</div>
<div class="background2">
</div>
