$('#interest_all').append("<%= @interest.interest_title %>")
// form_for @interests, remote:true do |interest| %><%= interest.hidden_field :interest_id, value: interest.id %><span class='waves-effect waves-light btn'><%= interest.submit '<%=@interest.interest_title%>'%></span><% end %>"
